body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

a {
  color: #8f8f8f;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #8f8f8f;
  color: #eeeeee;
}

.nav-pills > li > a {
  color: #8f8f8f;
  background-color: #eeeeee;
}

.jeff-head {
  border-bottom: 1px solid #eee;
